$font: 40px;

h1 {
  font-size: $font;
  color: red;
}

h2 {
  font-size: $font;
  color: green;
}

.technical-skills {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 33%;
  }
}

.hobby-container {
  display: flex;
  flex-wrap: wrap;
  .hobby-block {
    width: 30%;
  }
}
